.home_containe,
.home_container::before,
.home_image img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.home_container{
   position: relative;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
 
}
.home_image,
.home_container::before{
    position: absolute;
      inset: 0;
}
.home_image{
    z-index: -1;
}
.home_container::before{
    content: '';
    background-color: black;
    opacity: .4;
    z-index: 1;
}

.home_image img{
    object-fit: cover;
}
.home_desc{
    text-align: center;
    z-index: 4;
     color: #fff;
}
.home_desc h2{
    font-size: 50px;
    line-height: 1.08;
    margin-bottom: 30px;
    
}
.home_desc .home_link .dot{
    display:inline-block;
   width: 5px;
   height: 5px;
 margin-inline: 10px;
   background-color: #FFD541;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
.home_desc .home_link a{
      font-size: 13px;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}
.home_desc .home_link p{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.5);
}


/* /=======================news=========================== */
.news{
margin: 4rem 6rem;
gap: 5rem;
}
.all_news_box{
    flex: 3;
}
.categroies{
    flex: 1;
}

.news .news_cards{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 30px;

}
.news_cards .news_card {
height: 30rem;
}
.news_cards .news_card .image_news{
width: 100%;
height: 50%;
overflow: hidden;
}
.news_cards .news_card img{
width: 100%;
height: 100%;
max-width: 100%;
transition:all .3s ;
-webkit-transition:all .3s ;
-moz-transition:all .3s ;
-ms-transition:all .3s ;
-o-transition:all .3s ;
}
.news_cards .news_card img:hover{
transform: scale(1.1);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
}
.newx_contentbox{
position: relative;
margin-top: 2rem;
}
.newx_contentbox::before{
position: absolute;
content: '';
width: 50%;
height: 100%;
background-image: url('../../Images/bg-dot.png');
background-size: 25px;
opacity: .3;
z-index: -1;
right: 0;
top: -10px;
}
.newx_contentbox p{
font-weight: 600;
line-height: 38px;
letter-spacing: -.03em;
font-size: 20px;

}
.newx_contentbox .dt_cs .date{
font-size: 18px;
line-height: 28px;
font-weight: 400;
color: rgba(0, 0, 0, 0.5);
margin-right:1.8rem;
}

.categroies h4{
    padding-bottom: 17px;
border-bottom: 1px solid #c6c1c1;
font-size: 16px;
font-weight: 600;
letter-spacing: 1px;
margin-bottom: 20px;
}
.categroies .all_categroie li{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
cursor: pointer;
    
}
.categroies .all_categroie li p,
.categroies .all_categroie li span{
    font-size: 15px;
    line-height: 1.66667;
    font-weight: 300;
    color: rgba(21, 21, 21, 0.8);
    transition:all .3s  ;
    -webkit-transition:all .3s  ;
    -moz-transition:all .3s  ;
    -ms-transition:all .3s  ;
    -o-transition:all .3s  ;
}

.categroies .all_categroie li p.active,
.categroies .all_categroie li span.active{
color: #151515;;
}
.categroies .all_categroie li:hover p,
.categroies .all_categroie li:hover span{
    color: #151515;
    font-weight: 400;
    font-size: 16px;
}
.search ,.latest_news{
 margin-block: 50px;
}
.search input{
    width: 100%;
    outline: none;
    height: 2.5rem;
    padding:10px 20px ;
    border: 1px solid #b3b0b0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #e7e7e7;
   
}
.latest_news p{
font-weight: 300;
line-height: 34px;
letter-spacing: -.03em;
font-size: 18px;
margin-block: 30px;
}
.latest_news span{
        font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}
.search button{ 
    color: #fff;
    width: 100%;
     margin-top: 15px;
     padding-top: 9px; 
    padding-bottom: 9px; 
    min-height: 50px; 
    background: linear-gradient(228.54deg, #1DBEDE 30.16%, #5656DF 89.45%); 
    transition:all .4s;
     -webkit-transition:all .4s; 
    -moz-transition:all .4s; 
    -ms-transition:all .4s; 
    -o-transition:all .4s;
    cursor: pointer;
}
.search button:hover{
    background: linear-gradient(228.54deg, #5656DFDE 30.16%,#1DBE  89.45%);

}
.bullets{
    margin: 0 auto;
    display: flex;
    gap: 10px;
    width: 300px;
    justify-content: center;
}
.bullets li{
    width: 50px;
    height: 50px;
    border :1px solid #797676;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #3C3C3C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bullets li:nth-child(1){
    border-color: #151515;
}
/* \=======================End news===========================/ */


/* /=========================footer===================================\ */


footer{
background: #444141;
height: 25rem;
gap:40px;
margin-bottom: -1rem;
overflow: hidden;
}

.map{
flex:2;
}
.map iframe{
width: 100%;
max-width: 100%;
height: 100%;
max-height: 100% !important;

}
.footer_box{
flex:3;
margin-top: 5rem;
display: flex;
gap: 50px;
}
.footer_box .box_desc h4{
text-transform: uppercase;
font-weight: 600;
line-height: 28px;
letter-spacing: 0.1em;
font-size: 18px;
color: #fff;
margin-bottom: 20px;
}
.footer_box .box_desc p{
font-weight: 200;
color: rgba(255, 255, 255, 0.8);
font-size: 17px;
line-height: 1.55556;
margin-bottom: 20px;

}
.box_desc span{
font-size: 13px;
color: #b3b0b0;
}
.footer_box .box_desc p a{
display: block;
color: #fff;
}
.box_desc p a span{
color: #1DBEDE;
}
.footer_box form {
margin-bottom: 25px;
}
.footer_box form input[type="email"]{
background: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.8);
min-height: 60px;
padding: 16px 25px;
font-size: 15px;
font-weight: 300;
line-height: 26px;
border-radius: 5px;
border: 1px solid #3C3C3C;
outline: none;
width: 22rem;

}
.footer_box form input[type="submit"]{
font-size: 15px;
line-height: 1.5;
border: none;
z-index: 1;
color: #ffffff;
font-weight: 600;
letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
cursor: pointer;
user-select: none;
transition: 250ms all ease-in-out;
background: linear-gradient(228.54deg, #1DBEDE 30.16%, #5656DF 89.45%);
padding: 19px 35px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
margin-left: 15px;
}


.footer_box .social{
color: #fff;
display: flex;
flex-direction: column;
gap: 15px;
align-items: center;
}
.footer_box .social h5{
font-size: 20px;
}
.footer_box .social li{
width: 40px;
height: 40px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
margin-bottom: 15px;
}
/* \=========================footer===================================/ */


@media (max-width:768px) {


    .news{
margin: 2.8rem 4rem;
gap: 5rem;
flex-direction: column;
}
.all_news_box{
    flex: 1;
}
.categroies{
    flex: 1;
}

    /* footer ======================================= */

footer{
height: auto;
flex-direction: column;

}

.map iframe{
height: 14rem;
max-height: 15rem;
}
.footer_box{
flex-direction: column-reverse;
margin-top: .4rem;
padding: 0 20px;
gap: 20px;

}
.footer_box form {
margin-bottom: 25px;
}
.footer_box form input[type="email"]{
width: 100%;

}
.footer_box form input[type="submit"]{
width: 100%;
margin: 0;
margin-top: 20px;

}


.footer_box .social{
align-items: flex-start;
}
.footer_box .social ul{
display: flex;
gap:15px;
}
.footer_box  .box_desc p{
font-size: 15px;
font-weight: 500;
}
.footer_box  .box_desc > span{
font-size: 14px;
width: 100%;
}
 .buttons{
    padding: 3rem;
}
}

@media(max-width:425px){
.news{
margin:20px;
gap: 2rem;

}
.news .news_cards{
display: flex;
flex-direction: column;

}
.bullets{
width: 100%;
text-align: center;
}

}